/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(images/h1.png); 
}
.markItUp .markItUpButton2 a {
	background-image:url(images/h2.png); 
}
.markItUp .markItUpButton3 a {
	background-image:url(images/h3.png); 
}
.markItUp .markItUpButton4 a {
	background-image:url(images/h4.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(images/h5.png); 
}
.markItUp .markItUpButton6 a {
	background-image:url(images/h6.png); 
}

.markItUp .markItUpButton7 a {
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton8 a {
	background-image:url(images/italic.png);
}

.markItUp .markItUpButton9 a {
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton10 a {
	background-image:url(images/list-numeric.png);
}

.markItUp .markItUpButton11 a {
	background-image:url(images/picture.png); 
}
.markItUp .markItUpButton12 a {
	background-image:url(images/link.png);
}

.markItUp .smilies a {
	background-image:url(images/emoticon.png);
}
.markItUp .smilies .smile a {
	background-image:url(/markitup/img/smiley-smile.gif);
}
.markItUp .smilies .cool a {
	background-image:url(/markitup/img/smiley-cool.gif);
}
.markItUp .smilies .cry a {
	background-image:url(/markitup/img/smiley-cry.gif);
}
.markItUp .smilies .embarassed a {
	background-image:url(/markitup/img/smiley-embarassed.gif);
}
.markItUp .smilies .foot-in-mouth a {
	background-image:url(/markitup/img/smiley-foot-in-mouth.gif);
}
.markItUp .smilies .frown a {
	background-image:url(/markitup/img/smiley-frown.gif);
}
.markItUp .smilies .innocent a {
	background-image:url(/markitup/img/smiley-innocent.gif);
}
.markItUp .smilies .kiss a {
	background-image:url(/markitup/img/smiley-kiss.gif);
}
.markItUp .smilies .laughing a {
	background-image:url(/markitup/img/smiley-laughing.gif);
}
.markItUp .smilies .money-mouth a {
	background-image:url(/markitup/img/smiley-money-mouth.gif);
}
.markItUp .smilies .sealed a {
	background-image:url(/markitup/img/smiley-sealed.gif);
}
.markItUp .smilies .surprised a {
	background-image:url(/markitup/img/smiley-surprised.gif);
}
.markItUp .smilies .tongue-out a {
	background-image:url(/markitup/img/smiley-tongue-out.gif);
}
.markItUp .smilies .undecided a {
	background-image:url(/markitup/img/smiley-undecided.gif);
}
.markItUp .smilies .wink a {
	background-image:url(/markitup/img/smiley-wink.gif);
}
.markItUp .smilies .yell a {
	background-image:url(/markitup/img/smiley-yell.gif);
}
.markItUp .markItUpButton14 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton15 a	{
	background-image:url(images/code.png);
}

.markItUp .markItUpButton16 a	{
	background-image:url(images/encodechars.png);
}

.markItUp .preview a {
	background-image:url(images/preview.png);
}
